body {

    font-family: verdana, arial, sans-serif;
    font-size: 11px;

    color: #2c3034;

    background: #fafafa;

    margin: 0;

    padding: 30px;

    border-top: 5px solid #3399FF;

    background: url(//shared.odimg.com/img/logo/opendns_logo_100.gif) no-repeat 30px 33px;
}



h1, h2, h3 {

    font-family: arial, helvetica, verdana, sans-serif;

    letter-spacing: -1px;

    color: #4c555a;

    font-weight: normal;

    margin: 0 0 5px 0;
}


h1 {

    font-size: 30px;

    padding: 0 0 0 115px;

    margin: 0 0 20px 0;
}


h2 { font-size: 24px }


h3 { font-size: 18px }


ul {

    margin: 0 0 60px 0;

    padding: 0;

    list-style: none;

    font-size: 11px;
}




ul.topmenu {

    list-style: none;

    padding-left: 0px;

    margin-bottom: 0px;

    display: block
}



ul.topmenu li {
    float: left;

    position: relative;

    display: block;
}



ul.topmenu li.active {

    background: #4c555a;

    color: #fff;
}



ul.topmenu li a {

    color: inherit;

    position: relative;
}



ul.topmenu li a:hover {

    background: #7F888D;
}



ul.topmenu:after {

    clear: both;

    display: table;

    content: " ";
}



ul.menu {

  margin-bottom: 0;
}


.menu li a {

    color: #2c3034;

    text-decoration: none;

    display: block;

    padding: 5px 20px 6px 20px;

    line-height: 1;

    margin: 0;
}


.menu li a:hover {

    background: #4c555a;

    color: #fff;
}

.result {

    background: #fcfcfc;

    padding: 10px 20px;

    margin: 20px 0 0 0;

    overflow: auto;

    line-height: 1.4;

    color: #333;

    border: 1px solid #ddd;
}


p.backtotop {

    text-align: right;

    padding: 5px 0 20px 0;

    margin: 0;
}


p.backtotop a {

    color: #999;
}


pre {

    font-family: monaco,
 "courier", monospace;

    font-size: 12px;
}

pre.SpecialBold {
    font-weight: bold;
}

